@charset "UTF-8";

@font-face {
    font-family: "Glass TTY vt220";
    src: url(glass.ttf);
}

body {
    color: #666666;
    background-color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#splashScene {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    line-height: 21px;
}

#splashScene .cell {
    font-family: "Glass TTY vt220", "Terminus", "Droid Sans Mono", Consolas, "Courier New", Courier, monospace;
    font-size: 21px;
    color: #333333;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#splashScene .cell.banner {
    color: #990000;
}
